/* LoginForm.css */

/* Container styling */
.login-form-container {
  display: flex; /* Display flex to align items horizontally */
}

/* Image container styling */
.image-container {
  flex: 1; /* Take 1/2 of the available space */
  padding: 20px;
  position: relative; /* Set position to relative for absolute positioning of close button */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  height: 75vh; /* Set height to 100% of the viewport height */
}

.image-container img {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Set a maximum height to fill the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  border-radius: 8px;
}

/* "X" close button styling */
.image-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border: none;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container .close-button span {
  display: inline-block;
  transform: rotate(45deg);
  font-weight: bold;
}

/* Form container styling */
.form-container {
  flex: 1; /* Take 1/2 of the available space */
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow to prevent scrolling */
  }

/* Form styling */
.form-container form {
  display: flex;
  flex-direction: column;
}

/* Login title styling */
.form-container h2 {
  text-align: center;
  color: #007BFF; /* Blue color */
}

/* Form input styling */
.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styling */
/*.form-container button {
  background-color: #007BFF;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}*/

.login-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 6px 12px; /* Adjust padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  max-width: 100px; /* Adjust maximum width */
  width: auto; /* Allow the button to adapt to content */
}
.login-btn:hover {
  background-color: #0056b3;
}

.close-btn {
  font-size: 24px;
  font-weight: bold;
  }

.close-btn:hover {
  color: #fff;
}

.form-container button:hover {
}

/* Close button styling for the form container 
.form-container .close-button {
  align-self: flex-end;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}
*/

/* Additional styling for text links */
.form-container a {
  color: #007BFF;
  text-decoration: underline;
  cursor: pointer;
}

.form-container a:hover {
  color: #0056b3;
}

/* Adjustments for the modal size and margin */
.ReactModal__Content {
    margin: 50px auto 0; /* Add margin from the top, center horizontally */
    background: transparent; /* Transparent background */
}
.ReactModal__Overlay {
  z-index: 1000; /* Ensure the modal appears on top of other components */
  backdrop-filter: blur(2px); /* Apply a blur to the background */
}
