# Ignore node_modules directory
/node_modules/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore the gen_secretKey file
gen_secretKey

# Ignore package-lock.json file
/package-lock.json
