/* sponsors.css */

.sponsors-container {
  text-align: center;
  padding: 40px 20px;
  background-color: white;
}

.sponsors-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sponsors-logos {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.sponsor-logo {
  width: 200px; /* Set a specific width for the sponsor logos */
  height: 200px; /* Set a specific height for the sponsor logos */
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-logo img {
  max-width: 100%; /* Ensure the image fits within its container */
  max-height: 100%; /* Ensure the image fits within its container */
}

